*, *:before, *:after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
   /*transition: all 300ms ease-out;*/
   outline: none;
}

body {
  margin: 0;
  background: #000; 
}

.show {
  display: block;
}

.hide {
  display: none;
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  filter: contrast(2);
}

video.city { 
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background: url('../Pexels-Videos-4595.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  filter: contrast(2);
}

.stopfade { 
   /*opacity: .5;*/
}

#polina {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-image: linear-gradient(178deg, rgba(128,208,199,1) 0%, rgba(19,84,122,.7) 100%);
  color: white;
  padding-top: 9em;
  height: 100vh;
  font-size: 1.2rem;
  font-size: 15px;
  width: 100%;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 3em;
  letter-spacing: .3rem;
  text-align: center;
  font-weight: 300;
}
#polina button { 
  display: block;

  padding: 0.4rem 1.4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.05rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 24px;
  cursor: pointer;
  transition: .3s background;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
/*@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}*/