@font-face {
  font-family: 'Norwester';
    src:url('../font/Norwester.ttf.woff') format('woff')
}

*, *:before, *:after {
   box-sizing: border-box;
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
   outline: none;
}


html {
  font-size: 10px;
}
body {
  margin: 0;
  background: #000; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.35rem;
  font-weight: 300;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 100vh;
  overflow: hidden;

}

#show {
  display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.hide {
  display: none;
}
video { 
  z-index: -100;
  background-size: cover;
  transition: fadeIn 1s ease-in-out;
  filter: contrast(2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

video.city { 
  top:auto;
  left: auto;
  bottom: 0;
  right: 0;
  -webkit-transform: none;
  transform: none;
  background: url('../Pexels-Videos-4595.jpg') no-repeat;
  filter: contrast(2);
  object-position: bottom right;
  /*height: 122%;*/
}

video.beer { 
  top:0;
  left: 7%;
  left: auto;
  right: 0;
  right: auto;
  -webkit-transform: none;
  transform: none;
  background: url('../Filling-glass-with-beer-multiply-logo.jpg') no-repeat;
}

.building {
  filter: grayscale(100%);
  background: url('../Corporate_Cloud_Videvo-loop2.jpg') no-repeat;  
}

video.cat {
  filter: contrast(1);

}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.stopfade { 
   opacity: .5;
}

#container {
  color: #fff;
  padding-top: 9em;
  height: 100vh;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  filter: saturate(2);
}

#container.buildingBg {
  font-weight: 100;
  background-image: linear-gradient(178deg, rgba(128,208,199,1) 0%, rgba(19,84,122,.7) 100%);
  
  background: linear-gradient(90deg, rgba(134,14,39,0.9), rgba(211,31,60,0) );
  background: linear-gradient(170deg, rgba(134,14,39,1), rgba(211,31,60,.5) );
  background-image: linear-gradient(to top, rgba(255,8,68,.5) 0%, rgba(255,177,153,.7) 100%);
  background-image: linear-gradient(80deg, rgba(112,40,228, .5)  0%, rgba(22,178,202, .9)100%);
  color: white;
  padding-top: 9em;
  height: 100vh;
  font-size: 1.2rem;
  font-size: 15px;
  width: 100%;
}

#container.cityBg {
  background-image: linear-gradient(178deg, rgba(128,208,199,1) 0%, rgba(19,84,122,.7) 100%);
}

#container.beerBg {
  background-image: linear-gradient(10deg, rgba(128,208,199,1) 0%, rgba(19,84,122,.7) 100%);
  background-image: linear-gradient(-45deg, rgba(225,199,150,.7) 0%, rgba(255,107,149,.5) 100%);
  /*background-image: linear-gradient(-45deg, rgba(225,255,255,.5) 0%, rgba(225,255,255,.3) 100%);*/
}

#container.catBg {
  background-image: linear-gradient(170deg, rgba(22, 160, 133, .7) 0%, rgba(244, 208, 63,.45) 100%);
}

h1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  font-family:  "Norwester", Arial, sans-serif;
  margin-top: 10%;
  letter-spacing: .2rem;
  text-align: center;
  font-weight: 300;
  text-shadow: 1px 1px 8px  rgba(0,0,0,0.325);
  mix-blend-mode: soft-light;
  line-height: 3rem;
}

h1 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .9rem;
  mix-blend-mode: lighten;

}
button { 
  padding: 0.4rem 1.4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.5rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 24px;
  cursor: pointer;
  transition: .3s background;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  mix-blend-mode: soft-light;
  font-family: 'Source Sans Pro', sans-serif;
}

button#pause {
  background: rgba(0,0,0,0.5);
}

#container button:hover { 
   background: rgba(0,0,0,0.9);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
  transform: translateY(30px);
}

p {
  mix-blend-mode: lighten;
  display: inline-block;
  margin-right: 2rem; 
}

nav {
  position: absolute;
  background-color: rgba(0,0,0,0.46); 
  background-image: linear-gradient(to top, rgba(0,0,0,0.246), rgba(0,0,0,0) );
  mix-blend-mode: soft-light;
  bottom: 0;
  left: 0;
  right: 0;
  color:lightgray;
}
/*#container.buildingBg nav {
  mix-blend-mode: multiply;
  background-color: rgba(0,0,0,0.38431246);
}
#container.buildingBg button#pause {
  mix-blend-mode: multiply;
  background: rgba(0,0,0,0.325);
}*/


/*-------NEW PLAY BUTTON-------*/
/*.btn {
  position: relative;
  width: 45px;
  height: 45px;
  border: rgba(0,0,0,0.5) 3px solid;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 0px 2px white;
  mix-blend-mode: soft-light;
  margin: 0 auto;
}
.btn:hover {
  border: white 3px solid;
}
.btn:hover .bar {
  background-color: white;
}
.btn .bar {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 20px;
  border-radius: 1px;
  background-color: rgba(0,0,0,0.5);
  -webkit-transform-origin: center;
          transform-origin: center;
  transition: background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.btn.pause .bar-1 {
  -webkit-transform: translateX(13.5px) translateY(0px) rotate(0deg);
          transform: translateX(13.5px) translateY(0px) rotate(0deg);
}
.btn.pause .bar-2 {
  -webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
          transform: translateX(24px) translateY(0px) rotate(0deg);
}
.btn.play .bar-1 {
  -webkit-transform: translateX(20px) translateY(-5px) rotate(-55deg);
          transform: translateX(20px) translateY(-5px) rotate(-55deg);
}
.btn.play .bar-2 {
  -webkit-transform: translateX(20px) translateY(5px) rotate(-125deg);
          transform: translateX(20px) translateY(5px) rotate(-125deg);
}*/


/*--------END PLAY BUTTON----------*/






nav button {
  display: inline-block;
  background: rgba(255,255,255,0);
  mix-blend-mode: lighten;
  color:lightgray;
}
@media screen and (max-width: 500px) { 
  h1 {
    font-size: 5rem;
  } 
  p {
    display: block;
    margin: 1rem 0 0 0;
  }
}
/*@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}*/